* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-bg-color);
    width: 100%;
    z-index: 999;
}
header * {
    color: white;
}
header ul {
    display: flex;
    align-items: center;
    margin: 0;
}
header li {
    list-style-type: none;
    margin-right: 30px;
}
header a {
    text-decoration: none;
}
header h1 {
    display: inline-block;
}
header nav {
    display: inline-block;
}
.content {
    margin: 0 auto;
    width: 1000px;
    line-height: 60px;
}
.left {
    float: left;
}
.right {
    float: right;
}