<header>
  <div class="content">
    <div class="left"><a [routerLink]="['/']">{{title}}</a></div>
    <div class="right">
      <ul>
        <li><a [routerLink]="['/auth/login']">Login</a></li>
        <li><a [routerLink]="['/auth/logout']">Logout</a></li>
        <li><a [routerLink]="['/movies']">Films</a></li>
        <li><a [routerLink]="['/series']">Séries</a></li>
        <li><a [routerLink]="['/movies/search']">Recherche sur les films</a></li>
        <li><a [routerLink]="['/series/search']">Recherche sur les séries</a></li>
      </ul>
    </div>
  </div>
</header>
<div style="height: 60px; position: relative; top: -8px;"></div>
<lib-toast-lib></lib-toast-lib>
<router-outlet></router-outlet>
