/* You can add global styles to this file, and also import other style files */

/* Styles for css variables */
header {
    --header-bg-color: #081c24;
}
.backBtn {
    --movies-show_backBtn-bg-color: #081c24;
}
.backBtn {
    --series-show_backBtn-bg-color: #081c24;
}